<body>
  <nav class="navbar">
    <div class="container-fluid">
      <img src="/speed.png" width="30px" alt="speed" class="speed-img">
      <span style="color: white;">Jornada</span>
    </div>
  </nav>
  <div class="table-container">
    <div class="d-flex justify-content-center px-5">
      <div class="search">
        <input
          type="text"
          class="search-input"
          placeholder="Buscar motorista..."
          [(ngModel)]="filterValue" 
          name=""
        />
        <a class="search-icon" (click)="buscarMotoristas()"> <i class="bi bi-search"></i> </a>
      </div>
    </div>

    <table class="table table-striped table-bordered container">
      <thead class="items-title">
        <tr class="items">
          <th>ID Motorista</th>
          <th>Nome</th>
          <th>Supervisor</th>
          <th>Data</th>
          <th>Início da Jornada</th>
          <th>Fim da Jornada</th>
          <th>Repouso</th>
          <th>Tempo Total de Jornada</th>
          <th>Condução</th>
          <th>Direção Máx Contínua</th>
          <th>Hora Extra</th>
          <th>Refeição</th>
          <th>Descanso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motorista of filteredMotoristas">
          <td>{{ motorista.idMot }}</td>
          <td>{{ motorista.nomeMot }}</td>
          <td>{{ motorista.supervisor }}</td>
          <td>{{ motorista.data | date }}</td>
          <td>{{ motorista.inicioJornada }}</td>
          <td>{{ motorista.fimJornada }}</td>
          <td>{{ motorista.repouso }}</td>
          <td>{{ motorista.tempoTotalJornada }}</td>
          <td>{{ motorista.conducao }}</td>
          <td>{{ motorista.direcaoMaxContinua }}</td>
          <td>{{ motorista.horaExtra }}</td>
          <td>{{ motorista.refeicao }}</td>
          <td>{{ motorista.descanso }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
