body {
  background-color: #f2f5f7;
}

.table {
  border-radius: 5px;
  overflow: hidden;
}
.container {
  margin-top: 10px;

  .items th {
    font-size: 12px;
  }
  tbody tr td {
    font-size: 12px;
  }
}
.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 10, 74, 1) 34%,
    rgba(3, 9, 156, 1) 67%
  );
}
.nav-title {
  color: white;
}
.search {
  width: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  margin-right: 32px;
  margin-left: 34px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}
.search-input::placeholder {
  font-size: 14px;
}
.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.search-icon:hover {
  color: #fff !important;
}
